// :root {
//   --el-color-primary: red;
// }

body {
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}
#app{
  min-height: 100vh;
}
input:-webkit-autofill{
  -webkit-text-fill-color: #fff !important;  
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;  
  background-color: transparent;  
  background-image: none;  
  transition: background-color 50000s ease-in-out 0s;  
}